<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Strong Lifts App{% endblock %}
        </title>

        {% load staticfiles %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'stronglifts:index' %}">Strong Lifts App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">

            {% if user.is_authenticated %}
                <li><a href="{% url 'stronglifts:logout_user' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'stronglifts:register_user' %}">Register</a></li>
                <li><a href="{% url 'stronglifts:login_user' %}">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        <h1 class="lead">Strong Lifts App</h1>

        {% block body %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </body>
</html>